# LAUNCH TOWER IN AMAZON EC2 (Public Tower Image)
# ------------------------------------------------
# EC2 Region  Location      AMI TYPE  AMI ID    
# us-east-1   N. Virginia   PV        ami-a86614bf
# us-west-1   N. California PV        ami-cdd79aad
# us-west-2   Oregon        PV        ami-028f5e62

#----------------------------------------------
# Variables
#----------------------------------------------
variable "aws_access_key" {}
variable "aws_secret_key" {}
# variable "security_group" { default = "{{ workshop_prefix }}-containers-101-sg" }
# variable "keypair" { default = "{{ workshop_prefix }}-containers" }
# variable "aws_region" { default = "{{ region }}" }
#----------------------------------------------
# API Keys
#----------------------------------------------
provider "openstack" {
    cloud = "openstack"
#    access_key = "${var.aws_access_key}"
#    secret_key = "${var.aws_secret_key}"
#    region     = "${var.aws_region}"
}
#----------------------------------------------
# image 
#----------------------------------------------
data "openstack_images_image_v2" "image" {
  name        = "{{ os_image_name }}"
  most_recent = true

  properties = {
    key = "value"
  }
}
#----------------------------------------------
# external floating ip
#----------------------------------------------
# public external floating ip.
resource "openstack_networking_floatingip_v2" "floatingip" {
  pool = "{{ os_external_network_name }}"
  description = "{{ workshop_prefix }}-external-floatingip"
}
output "public_ip" {
  value = openstack_networking_floatingip_v2.floatingip.address
}
#----------------------------------------------
# router
#----------------------------------------------
# router from public to private subnet.
resource "openstack_networking_router_v2" "router" {
  name                = "{{ workshop_prefix }}-router"
  external_network_id = "openstack_networking_network_v2.{{ os_external_network_name }}.id"
}
output "openstack_networking_router_v2_router" {
  value = "Completed ${openstack_networking_router_v2.router.name}"
}
#----------------------------------------------
# private network
#----------------------------------------------
resource "openstack_networking_network_v2" "private-network" {
  name           = "{{ os_private_network_name }}"
  admin_state_up = "true"
}
output "openstack_networking_network_v2_private-network" {
  value = "Completed ${openstack_networking_network_v2.private-network.name}"
}
#----------------------------------------------
# private subnet
#----------------------------------------------
resource "openstack_networking_subnet_v2" "private-subnet" {
  depends_on      = [openstack_networking_network_v2.private-network]
  name            = "{{ os_private_subnet_name }}"
  network_id      = openstack_networking_network_v2.private-network.id
  cidr            = "{{ os_cidr }}"
  dns_nameservers = ["os_infra_instance_private_ip","8.8.8.8","8.8.4.4"]
  ip_version      = 4
}
output "openstack_networking_network_v2_subnet" {
  value = "Completed {{ workshop_prefix }}-containers-101-subnet"
}
#----------------------------------------------
# router interface to private subnet
#----------------------------------------------
resource "openstack_networking_router_interface_v2" "router_interface" {
  depends_on = [openstack_networking_router_v2.router,openstack_networking_subnet_v2.private-subnet]
  router_id = openstack_networking_router_v2.router.id
  subnet_id = openstack_networking_subnet_v2.private-subnet.id
}
output "openstack_networking_router_interface_v2_router_interface" {
  value = "Completed {{ workshop_prefix }}-router_interface"
}
#----------------------------------------------
# security group
#----------------------------------------------
resource "openstack_compute_secgroup_v2" "secgroup" {
  name        = "{{ os_sg_name }}"
  description = "{{ os_sg_name }}"

{% for port in os_sg_ports %}
  rule {
    from_port   = {{ port }}
    to_port     = {{ port }}
    ip_protocol = "tcp"
    cidr        = "0.0.0.0/0"
  }
{% endfor %}

}
output "openstack_compute_secgroup_v2_secgroup" {
  value = "Completed ${openstack_compute_secgroup_v2.secgroup.name}"
}
#----------------------------------------------
# infra instance
#----------------------------------------------
resource "openstack_compute_instance_v2" "infra" {
  depends_on      = [openstack_networking_subnet_v2.subnet,openstack_compute_secgroup_v2.secgroup]
  name            = "{{ os_infra_instance_name }}"
  flavor_id       = "{{ os_image_flavor_id }}"
  key_pair        = "{{ workshop_prefix }}-containers"
  security_groups = ["${openstack_compute_secgroup_v2.secgroup.name}"]
  user_data       = file("infra-user-data.txt")

  block_device {
    uuid                  = openstack_images_image_v2.image.id
    source_type           = "image"
    volume_size           = "{{ ebs_root_block_size }}"
    boot_index            = 0
    destination_type      = "volume"
    delete_on_termination = true
  }

  metadata = {
    Workshop = "{{ workshop_prefix }}"
    sshUser  = "{{ workshop_user }}"
  }

  network {
    name = openstack_networking_network_v2.network.name
  }
}
output "openstack_compute_instance_v2_infra" {
  value = "Completed ${openstack_compute_instance_v2.infra.name}"
}

resource "openstack_compute_floatingip_associate_v2" "external_ip" {
  depends_on  = [openstack_networking_floatingip_v2.floatingip,openstack_compute_instance_v2.infra]
  floating_ip = openstack_networking_floatingip_v2.floatingip.address
  instance_id = openstack_compute_instance_v2.infra.id
  fixed_ip    = openstack_compute_instance_v2.infra.network.0.fixed_ip_v4
}
#----------------------------------------------
# workshop node instances
#----------------------------------------------
resource "openstack_compute_instance_v2" "nodes" {
  depends_on      = [openstack_networking_subnet_v2.subnet,openstack_compute_secgroup_v2.secgroup]
  count           = var.number_nodes
  name            = "{{ workshop_prefix }}.${count.index}.{{ domain_name }}"
  flavor_id       = "{{ os_image_flavor_id }}"
  key_pair        = "{{ workshop_prefix }}-containers"
  security_groups = ["${openstack_compute_secgroup_v2.secgroup.name}"]
  user_data       = file("node-user-data.txt")

  block_device {
    uuid                  = "{{ os_image_id }}"
    source_type           = "image"
    volume_size           = "{{ ebs_root_block_size }}"
    boot_index            = 0
    destination_type      = "volume"
    delete_on_termination = true
  }

  metadata = {
    Workshop = "{{ workshop_prefix }}"
    sshUser  = "{{ workshop_user }}"
    Index    = count.index
  }

  network {
    name = openstack_networking_network_v2.network.name
  }

  # tags = [
  #   "index_${count.index}",
  #   "workshop_fierce-test",
  #   "sshuser_cloud-user"
  # ]

}
output "openstack_compute_instance_v2_nodes" {
  value = "Completed {{ workshop_prefix }}-nodes"
}